@import 'tailwindcss';
@plugin "daisyui";

.button{
    @apply px-8 py-4 bg-cyan-500 hover:bg-cyan-400 text-black font-bold text-lg rounded-sm transition-all duration-300 shadow-[0_0_15px_rgba(6,182,212,0.5)] hover:shadow-[0_0_25px_rgba(6,182,212,0.8)] tracking-wider uppercase
}

 a.active{
  @apply text-pink-500 font-semibold underline
}